<p>
  <%= image_tag(image_path("liu#{rand(3)}.jpg"), :width => '100px', :height => '150px', :style => 'float:right;') -%>
  2002年的第一场雪,
  比以往时候来的更晚一些.
  停靠在八楼的二路汽车,
  带走了最后一片飘落的黄叶.
  2002年的第一场雪,
  是留在乌鲁木齐难舍的情结.
  你象一只飞来飞去的蝴蝶,
  在白雪飘飞的季节里摇曳.
  忘不了把你搂在怀里的感觉,
  比藏在心中那份火热更暖一些.
  忘记了窗外北风的凛冽,
  在一次把温柔和缠绵重叠.
  是你的红唇粘住我的一切,
  是你的体贴让我再次热烈.
  是你的万种柔情融化冰雪,
  是你的甜言蜜语改变季节.
</p>
