<!DOCTYPE html>
<html>
<head>
  <title>刘向平</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>刘向平的网站</h1>
<hr/>
<%= yield %>

</body>
</html>
